body a {
  text-decoration: none;
  color: black;
  font-family: "Nunito Sans", sans-serif;
}

body .hoverSelection6N, body .hoverSelection7N {
  display: none;
}

body .overlay {
  position: absolute;
  height: 87.5%;
  width: 90%;
  bottom: 0;
  left: 5%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-content: center;
  text-align: center;
  gap: 25px;
}
body .overlay ol li {
  list-style: none;
  margin-left: -17.5px;
  padding: 20px 0px;
}
body .overlay ol li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
body .hoverSelection5N {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  height: 12.5%;
  z-index: 4;
}
body header > :nth-child(1) h1 {
  font-size: 37.5px;
  font-family: "Judson", serif;
}
body header > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 125px;
}
body header > :nth-child(2) a {
  text-decoration: none;
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 13.5px;
}
body header > :nth-child(2) > :nth-child(1), body header > :nth-child(2) > :nth-child(2), body header > :nth-child(2) > :nth-child(3) {
  gap: 0px;
}
body header > :nth-child(2) > :nth-child(1) > div, body header > :nth-child(2) > :nth-child(2) > div, body header > :nth-child(2) > :nth-child(3) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 50px;
  visibility: hidden;
  opacity: 0;
  margin-bottom: -5.5px;
}
body header > :nth-child(2) > :nth-child(1) > div img, body header > :nth-child(2) > :nth-child(2) > div img, body header > :nth-child(2) > :nth-child(3) > div img {
  width: 100%;
}
body header > :nth-child(2) > :nth-child(1) .hoverSelection1, body header > :nth-child(2) > :nth-child(2) .hoverSelection1, body header > :nth-child(2) > :nth-child(3) .hoverSelection1 {
  max-width: 55px;
}
body header > :nth-child(2) > :nth-child(1) .hoverSelection1N, body header > :nth-child(2) > :nth-child(1) .hoverSelection2N, body header > :nth-child(2) > :nth-child(1) .hoverSelection3N, body header > :nth-child(2) > :nth-child(2) .hoverSelection1N, body header > :nth-child(2) > :nth-child(2) .hoverSelection2N, body header > :nth-child(2) > :nth-child(2) .hoverSelection3N, body header > :nth-child(2) > :nth-child(3) .hoverSelection1N, body header > :nth-child(2) > :nth-child(3) .hoverSelection2N, body header > :nth-child(2) > :nth-child(3) .hoverSelection3N {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
body header > :nth-child(2) > :nth-child(4) {
  height: 50px;
}
body header > :nth-child(2) > :nth-child(4) ul, body header > :nth-child(2) > :nth-child(4) li {
  list-style: none;
  padding: 0;
}
body header > :nth-child(2) > :nth-child(4) ul li, body header > :nth-child(2) > :nth-child(4) li li {
  display: inline-block;
  position: relative;
  padding: 10px 0px;
}
body header > :nth-child(2) > :nth-child(4) ul li div, body header > :nth-child(2) > :nth-child(4) li li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6.5px;
}
body header > :nth-child(2) > :nth-child(4) ul li div a, body header > :nth-child(2) > :nth-child(4) li li div a {
  display: block;
  padding: 10px 0px;
}
body header > :nth-child(2) > :nth-child(4) ul li div img, body header > :nth-child(2) > :nth-child(4) li li div img {
  cursor: pointer;
}
body header > :nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
body header > :nth-child(3) > div {
  width: 100%;
  max-width: 20px;
}
body header > :nth-child(3) > div img {
  width: 100%;
  cursor: pointer;
}
body header > :nth-child(4) {
  display: none;
}

nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  display: block;
  width: 100%;
}

@media (max-width: 915px) {
  body header > :nth-child(1) h1 {
    font-size: 35px;
  }
  body header > :nth-child(2) {
    gap: 75px;
  }
  body header > :nth-child(2) a {
    font-size: 13px;
  }
  body header > :nth-child(2) > :nth-child(1) > div, body header > :nth-child(2) > :nth-child(2) > div, body header > :nth-child(2) > :nth-child(3) > div {
    max-width: 47.5px;
  }
  body header > :nth-child(2) > :nth-child(1) .hoverSelection1, body header > :nth-child(2) > :nth-child(2) .hoverSelection1, body header > :nth-child(2) > :nth-child(3) .hoverSelection1 {
    max-width: 53.5px;
  }
  body header > :nth-child(2) > :nth-child(4) ul li div, body header > :nth-child(2) > :nth-child(4) li li div {
    gap: 6px;
  }
  body header > :nth-child(2) > :nth-child(4) ul li div a, body header > :nth-child(2) > :nth-child(4) li li div a {
    padding: 10px 0px;
  }
  body header > :nth-child(3) {
    gap: 22.5px;
  }
  body header > :nth-child(3) > div {
    max-width: 19.5px;
  }
}
@media (max-width: 800px) {
  body header > :nth-child(1) h1 {
    font-size: 33.5px;
  }
  body header > :nth-child(2) {
    gap: 55px;
  }
  body header > :nth-child(3) {
    gap: 22px;
  }
  body header > :nth-child(3) > div {
    max-width: 19px;
  }
}
@media (max-width: 700px) {
  body header {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
  }
  body header > :nth-child(2) {
    display: none;
  }
  body header > :nth-child(4) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header > :nth-child(4) > :nth-child(1), body header > :nth-child(4) > :nth-child(2) {
    width: 100%;
    max-width: 23.5px;
  }
  body header > :nth-child(4) > :nth-child(1) img, body header > :nth-child(4) > :nth-child(2) img {
    width: 100%;
    cursor: pointer;
  }
  body header > :nth-child(4) > :nth-child(2) {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
  body header .active4.hoverSelection4N > :nth-child(1) {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-animation: ease-in;
            animation: ease-in;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  body header .active4.hoverSelection4N > :nth-child(2) {
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-animation: ease-in;
            animation: ease-in;
  }
  body header .overlay.hoverSelection5N {
    background: purple;
  }
}
body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 0 auto;
  width: 90%;
}
body main .buttonsSelection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  z-index: 2;
  margin: 0 auto;
}
body main .buttonsSelection a {
  text-decoration: none;
  color: black;
  font-size: 13.5px;
}
body main .buttonsSelection > :nth-child(1), body main .buttonsSelection > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7.5px;
}
body main .buttonsSelection > :nth-child(1) h5, body main .buttonsSelection > :nth-child(2) h5 {
  all: unset;
  font-size: 11px;
}
body main .buttonsSelection > :nth-child(1) .imagePrevNext, body main .buttonsSelection > :nth-child(2) .imagePrevNext {
  background: white;
  width: 100%;
  max-width: 40px;
}
body main .buttonsSelection > :nth-child(1) .imagePrevNext img, body main .buttonsSelection > :nth-child(2) .imagePrevNext img {
  width: 100%;
}
body main .carousel {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-content: center;
  margin: 0 auto;
  height: 60vh;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
  gap: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
body footer > div {
  padding: 25px 0px;
}
body footer > div a {
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
}

.slide1, .slide2, .slide3 {
  background-size: cover;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 20px;
}

.uno {
  width: 100%;
  max-width: 375px;
}
.uno img {
  width: 100%;
}

.dos {
  width: 52%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dos > :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 10px;
}
.dos > :nth-child(1) > :nth-child(1) h3 {
  font-family: "Judson", serif;
  font-size: 28px;
}
.dos > :nth-child(1) > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  margin-left: -40px;
}
.dos > :nth-child(1) > :nth-child(2) > div {
  width: 100%;
  max-width: 100px;
  -webkit-box-shadow: 2px 2px 2px gray;
          box-shadow: 2px 2px 2px gray;
}
.dos > :nth-child(1) > :nth-child(2) > div img {
  width: 100%;
}
.dos > :nth-child(2) h2 {
  font-family: "Judson", serif;
  font-weight: 800;
  font-size: 45px;
}
.dos > :nth-child(2) p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 13px;
}
.dos > :nth-child(2) button {
  all: unset;
  padding: 7.5px 12.5px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11px;
  color: white;
  background: #323232;
}