body{
	a{
		text-decoration: none;
		color: black;
		font-family: 'Nunito Sans', sans-serif;
	}
}

body{
	.hoverSelection6N, .hoverSelection7N{
		display: none;
	}
}

body{
	.overlay{
		position: absolute;
		height: 87.5%;
		width: 90%;
		bottom: 0;
		left: 5%;
		display: none;
		flex-flow: column wrap;
		align-items: center;
		place-content: center;
		text-align: center;
		gap: 25px;
		ol li{
			list-style: none;
			margin-left: -17.5px;
			padding: 20px 0px;
			a{
				text-decoration: none;
				color: black;
				font-size: 15px;
			}
		}
	}
	.hoverSelection5N{
		display: flex;
	}
}

body{
	height: 100vh;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	header{
		margin: 0 auto;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		width: 90%;
		height: 12.5%;
		z-index: 4;
		>:nth-child(1){
			h1{
				font-size: 37.5px;
				font-family: 'Judson', serif;
			}
		}
		>:nth-child(2){
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			gap: 125px;
			a{
				text-decoration: none;
				color: black;
				font-family: 'Nunito Sans', sans-serif;
				font-size: 13.5px;
			}
			>:nth-child(1), >:nth-child(2), >:nth-child(3){
				gap: 0px;
				>div{
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					width: 100%;
					max-width: 50px;	
					visibility: hidden;
					opacity: 0;
					margin-bottom: -5.5px;
					img{
						width: 100%;
					}
				}
				.hoverSelection1{
					max-width: 55px;
				}
				.hoverSelection1N, .hoverSelection2N, .hoverSelection3N{
					visibility: visible;
					opacity: 1;
					transition: .2s;
				}
			}
			>:nth-child(4){			
			height: 50px;	
				ul, li{
					list-style: none;
					padding: 0;
					li{
						display: inline-block;
						position: relative;
						padding: 10px 0px;
						div{
							display: flex;
							flex-flow: row wrap;
							align-items: center;
							gap: 6.5px;
							a{
								display: block;
								padding: 10px 0px;
							}
							img{
								cursor: pointer;
							}
						}
					}
				}
			}
		}
		>:nth-child(3){
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			gap: 25px;
			>div{
				width: 100%;
				max-width: 20px;
				img{
					width: 100%;
					cursor: pointer;
				}
			}
		}
		>:nth-child(4){
			display: none;
		}
	}
}

nav ul li ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	text-align: center;
}

nav ul li:hover ul {
	display: block;
}

nav ul li ul li {
	display: block;
	width: 100%;
}

@media (max-width: 915px){
	body{
		header{
			>:nth-child(1){
				h1{
					font-size: 35px;
				}
			}
			>:nth-child(2){
				gap: 75px;
				a{
					font-size: 13px;
				}
				>:nth-child(1), >:nth-child(2), >:nth-child(3){
					>div{
						max-width: 47.5px;	
					}
					.hoverSelection1{
						max-width: 53.5px;
					}
				}
				>:nth-child(4){				
					ul, li{
						li{
							div{
								gap: 6px;
								a{
									padding: 10px 0px;
								}
							}
						}
					}
				}
			}
			>:nth-child(3){
				gap: 22.5px;
				>div{
					max-width: 19.5px;
				}
			}
		}
	}
}

@media (max-width: 800px){
	body{
		header{
			>:nth-child(1){
				h1{
					font-size: 33.5px;
				}
			}
			>:nth-child(2){
				gap: 55px;
			}
			>:nth-child(3){
				gap: 22px;
				>div{
					max-width: 19px;
				}
			}
		}
	}
}

@media (max-width: 700px){
	body{
		header{
			margin: 0 auto;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-between;
			width: 90%;
			>:nth-child(1){
				h1{
				}
			}
			>:nth-child(2){
				display: none;
			}
			>:nth-child(3){
				>div{
					img{
					}
				}
			}
			>:nth-child(4){
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				>:nth-child(1), >:nth-child(2){
					width: 100%;
					max-width: 23.5px;
					img{
						width: 100%;
						cursor: pointer;
					}
				}
				>:nth-child(2){
					position: absolute;
					visibility: hidden;
					opacity: 0;
				}
			}
			.active4.hoverSelection4N{
				>:nth-child(1){
					visibility: hidden;
					opacity: 0;
					transition: .3s;
					animation: ease-in;
					transform: scale(1.5);
				}
				>:nth-child(2){
					visibility: visible;
					opacity: 1;
					transition: .5s;
					animation: ease-in;
				}
			}
			.overlay.hoverSelection5N{
				background: purple;
			}
		}

	}
}


body{
	main{
		display: flex;
		flex-flow: column wrap;
		margin: 0 auto;
		width: 90%;
		.buttonsSelection{
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			z-index: 2;
			margin: 0 auto;
			a{
				text-decoration: none;
				color: black;
				font-size: 13.5px;
			}
			>:nth-child(1), >:nth-child(2){
				display: flex;
				flex-flow: row wrap;
				align-items: flex-start;
				justify-content: center;
				gap: 7.5px;
				h5{
					all: unset;
					font-size: 11px;
				}
				.imagePrevNext{
					background: white;
					width: 100%;
					max-width: 40px;
					img{
						width: 100%;
					}
				}
			}
		}
		.carousel{
			width: 90%;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			place-content: center;
			margin: 0 auto;
			height: 60vh;
		}
	}
}

body{
	footer{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		width: 90%;
		margin: 0 auto;
		gap: 30px;
		justify-content: flex-end;
		>div{
			padding: 25px 0px;
			a{
				text-decoration: none;
				cursor: pointer;
				font-size: 15px;
			}
		}
	}
}


.slide1, .slide2, .slide3 {
	background-size: cover;
}


.container{
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.uno{
  width: 100%;
  max-width: 375px;
  img{
  	width: 100%;
  }
}

.dos{
	width: 52%;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	>:nth-child(1){
		display: flex;
		flex-flow: column wrap;
		gap: 10px;
		>:nth-child(1){
			h3{
				font-family: 'Judson', serif;
				font-size: 28px;
			}
		}
		>:nth-child(2){
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			gap: 25px;
			margin-left: -40px;
			>div{
				width: 100%;
				max-width: 100px;
				box-shadow: 2px 2px 2px gray;
				img{
					width: 100%;
				}
			}
		}
	}
	>:nth-child(2){
		h2{
			font-family: 'Judson', serif;
			font-weight: 800;
			font-size: 45px;
		}
		p{
			font-family: 'Nunito Sans', sans-serif;
			font-size: 13px;
		}
		button{
			all: unset;
			padding: 7.5px 12.5px;
			font-family: 'Nunito Sans', sans-serif;
			font-size: 11px;
			color: white;
			background: #323232;
		}
	}

}
